<a href="https://colab.research.google.com/github/Legodark/Learning-Data-Science/blob/main/%5Ccolab_notebooks%5CPractica_con_Pandas_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libro de pr치cticas con Pandas

Pandas significa **Panel Data**

## Importaci칩n

In [ ]:
import pandas as pd

## Lectura de dataset

[Kaggle Dataset](https://www.kaggle.com/datasets/jeanrada/virtual-mode?select=ModalidadVirtual.csv)

Usamos .read_csv en este caso para leer el daraset y lo guardamos en la variable df.
> df(dataframe), es el nombre de la variable que le he puesto yo, pero se puede llamar como queramos.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Curso_IA_BIGDATA/IA/Pandas/datasets/ModalidadVirtual.csv')

## Funciones esenciales

Empezando por *.describe()*

  - Con .describe lo que podemos sacar calculos basicos sobre el Dataframe para ver a vista de p치jaro algunos c치lculos.

In [ ]:
# Ejemplo de describe sobre df

df.describe()

       Unnamed: 0        edad
count  222.000000  222.000000
mean   119.896396   28.166667
std     67.424522    7.556374
min      0.000000   17.000000
25%     63.250000   22.000000
50%    121.500000   27.000000
75%    177.750000   33.000000
max    234.000000   54.000000

Tambi칠n podemos usar *.head()*

  - Con .head lo que sacamos lineas de la parte superior de nuestro dataframe, por defecto nos saca las 5 primeras lineas

In [ ]:
df.head()

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
0,0,2020-11-08,Ingenier칤a de Sistemas,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,20,Hombre,Eventual
1,1,2020-11-08,Psicolog칤a,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,26,Hombre,Eventual
2,2,2020-11-08,Ingenier칤a de Sistemas,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",20,Mujer,S칤
3,3,2020-11-08,Ingenier칤a de Sistemas,Si,Horario flexible.,Conexi칩n a internet.,18,Mujer,No
4,4,2020-11-08,Ingenier칤a de Sistemas,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,39,Hombre,S칤

Podemos usar *.tail()*

  - Con .tail sacamos las 5 칰ltimas filas del dataset y al igual que pasa con .head() si indicamos como parametro otra cantidad, nos sacara esa cantidad

In [ ]:
df.tail()

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
217,230,2020-12-10,Gesti칩n Tur칤stica y Hotelera,Si,Horario flexible.,Conexi칩n a internet.,19,Mujer,S칤
218,231,2020-12-11,Ingenier칤a de Sistemas,No,Acceso desde cualquier lugar.,"Falta de recursos de calidad(plataformas, doce...",23,Mujer,No
219,232,2020-12-11,Gesti칩n Tur칤stica y Hotelera,No,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",25,Hombre,S칤
220,233,2020-12-11,Ingenier칤a Agron칩mica,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,20,Mujer,S칤
221,234,2020-12-12,Comercio Internacional,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",23,Hombre,S칤

## Propiedades

Empezando con *.index*

  - La propiedad .index lo que nos saca es la cantidad de filas que tiene nuestro dataframe, tambien se usa en las Series

In [ ]:
df.index

RangeIndex(start=0, stop=222, step=1)

Con *.size* 

  - Lo que sacamos con .size son el total de valores que hay dentro del dataframe(de cada celda)

In [ ]:
df.size

1998

Propiedad *dtypes*

  - Con .dtypes sacamos los tipos de cada columna del Dataframe.

In [ ]:
df.dtypes

Unnamed: 0     int64
time          object
carrera       object
acepta        object
positivo      object
negativo      object
edad           int64
sexo          object
trabajo       object
dtype: object

## Ejemplos de Series

Una Serie no es mas que  exponer o trabajar con una 칰nica columna, ya sea sola o dentro de un dataframe

En esta primera prueba vamos a crear una Serie con una lista

In [ ]:
# Para probar dtype dentro de .Series voy a importar Numpy

import numpy as np

# Ahora vamos a crear una Serie

"""

  En este ejemplo, estoy poniendo un index que empiece por 1 en vez de por 0,
  le estoy indicando que el nombre de la Serie va a ser coches y que el tipo
  va a ser string, este 칰ltimo se lo estoy indicando a trav칠s de Numpy


"""

hello_serie = pd.Series(["Audi", "Peugeot", "Citroen"], index = [1, 2, 3], name = "Coches", dtype = np.str_)
print(hello_serie, "\n")

# Por 칰ltimo vamos a sacar de que tipo es pj."Audi"

print(type(hello_serie[1]))

1       Audi
2    Peugeot
3    Citroen
Name: Coches, dtype: object

<class 'str'>

En este apartado vamos a sacar Series a partir del dataframe *df*

La primera Serie que vamos son las fechas y la carrera del dataframe

In [ ]:
carrier_time = pd.Series(df.time, name = "Filtrado")
carrier_time

0      2020-11-08
1      2020-11-08
2      2020-11-08
3      2020-11-08
4      2020-11-08
          ...
217    2020-12-10
218    2020-12-11
219    2020-12-11
220    2020-12-11
221    2020-12-12
Name: Filtrado, Length: 222, dtype: object

Ahora el filtrado anterior lo vamos a exportar a un archivo csv

In [ ]:
# Exportamos la Serie que hemos llamado como Filtrado

carrier_time.to_csv("/content/drive/MyDrive/Colab Notebooks/Curso_IA_BIGDATA/IA/Pandas/datasets/Filtrado_Serie.csv")

## Busqueda dentro del Dataframe

In [ ]:
df.head(3)

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
0,0,2020-11-08,Ingenier칤a de Sistemas,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,20,Hombre,Eventual
1,1,2020-11-08,Psicolog칤a,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,26,Hombre,Eventual
2,2,2020-11-08,Ingenier칤a de Sistemas,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",20,Mujer,S칤

In [ ]:
# Aqu칤 estamos sacando un dato a trav칠s de nombres
df.loc[1, "positivo"]

'Acceso desde cualquier lugar.'

In [ ]:
# Aqu칤 estamos sacando un dato a trav칠s de las posiciones
df.iloc[2, 6]

20