<a href="https://colab.research.google.com/github/Legodark/Learning-Data-Science/blob/import_colab/colab_notebooks/Python/Filter_Exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Filter Exercices***

[Map Exercices Link](https://holypython.com/intermediate-python-exercises/exercise-14-python-filter-function/)

## Exercices 1 - Using filter() function filter the list so that only negative numbers are left.

In [ ]:
lst1 = [12, -1, 9, 8, -0.5, -0.2, -100]

lst2 = list(filter(lambda n: n <= 0, lst1))


print(lst2)

[-1, -0.5, -0.2, -100]

## Exercices 2 - Using filter function, filter the even numbers so that only odd numbers are passed to the new list.

In [ ]:
lst1 = [22, 100, 19, 13, 11, 1, 4, 66]

lst2 = list(filter(lambda n: n % 2, lst1))

print(lst2)

[19, 13, 11, 1]

## Exercices 3 - Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
str1 = "Winter Olympics in 2022 will take place in Beijing China"

lst = list(filter(lambda letter: True if letter.lower() in "aeiou" else False, str1))

print(lst)

['i', 'e', 'O', 'i', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'e', 'i', 'i', 'i', 'a']

## Exercices 4 - This time using filter() and list() functions filter all the positive integers in the string.

In [ ]:
str1 = "Winter Olympics in 2022 will take place in Beijing China"

lst = list(filter(lambda n : True if n in "0123456789" else False,str1))

print(lst)

['2', '0', '2', '2']

## Exercices 5 - Using map() and filter() functions add 2000 to the values below 8000.

In [ ]:
lst1 = [1000, 500, 600, 700, 5000, 90000, 17500]

lst2 = list(map(lambda n : n + 2000, filter(lambda n: n < 8000, lst1)))

print(lst2)

[3000, 2500, 2600, 2700, 7000]

## Exercices 6 - This time swap the map() and filter() functions so that map() function is inside filter() function. Convert a number to positive if it's negative in the list. Only pass those that are converted from negative to positive to the new list.

In [ ]:
lst1 = [-1000, 500, -600, 700, 5000, -90000, -17500]

lst2 = list(map(abs, filter(lambda n: n < 0, lst1)))

print(lst2)

[1000, 600, 90000, 17500]